<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category_name</key>
		<string>全部分类</string>
	</dict>
	<dict>
		<key>category_name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>火锅</string>
			<string>自助餐</string>
			<string>午市套餐</string>
			<string>下午茶</string>
			<string>日韩料理</string>
			<string>江浙菜</string>
			<string>西餐</string>
			<string>烧烤/烤肉</string>
			<string>海鲜</string>
			<string>小吃快餐</string>
			<string>汤/粥/炖菜</string>
			<string>聚餐宴请</string>
			<string>川湘菜</string>
			<string>粤菜/茶餐厅</string>
			<string>西北/新疆</string>
			<string>云贵菜</string>
			<string>清真</string>
			<string>台湾菜</string>
			<string>特色菜</string>
			<string>咖啡茶馆</string>
			<string>东南亚菜</string>
			<string>京菜/鲁菜</string>
			<string>小龙虾</string>
			<string>蟹宴</string>
			<string>冰淇淋</string>
			<string>蛋糕</string>
			<string>甜品饮料</string>
			<string>闽菜</string>
			<string>烤鱼</string>
			<string>8-10人套餐</string>
			<string>东北菜</string>
			<string>情侣套餐</string>
			<string>农家土菜</string>
			<string>清明节传统糕点</string>
			<string>日本料理</string>
			<string>韩国料理</string>
			<string>面包甜点</string>
			<string>日式自助</string>
			<string>闽菜</string>
			<string>川菜</string>
			<string>湘菜</string>
			<string>粤菜</string>
			<string>茶餐厅</string>
			<string>西北菜</string>
			<string>新疆菜</string>
			<string>特色菜</string>
			<string>北京菜</string>
			<string>鲁菜</string>
			<string>湖北菜</string>
			<string>江西菜</string>
			<string>山西菜</string>
			<string>西藏菜</string>
			<string>广西菜</string>
			<string>香锅</string>
			<string>西北/新疆菜</string>
			<string>天津菜</string>
			<string>北京北京菜</string>
			<string>食品饮料</string>
			<string>水果生鲜</string>
			<string>贵州菜</string>
			<string>云南菜</string>
			<string>武汉湖北菜</string>
			<string>福州闽菜</string>
			<string>泰国菜</string>
			<string>简餐快餐</string>
			<string>宁波江浙菜</string>
			<string>杭州南京上海苏州江浙菜</string>
			<string>本帮菜</string>
			<string>广州粤菜</string>
			<string>深圳粤菜</string>
			<string>四川火锅</string>
			<string>牛排</string>
			<string>烤鸭</string>
			<string>家常菜</string>
			<string>涮羊肉</string>
			<string>串串香</string>
			<string>鱼火锅</string>
			<string>西式正餐</string>
			<string>徽菜</string>
			<string>陕菜</string>
			<string>豫菜</string>
			<string>私房菜</string>
			<string>甜品</string>
			<string>潮汕菜</string>
			<string>越南菜</string>
			<string>咖啡厅</string>
			<string>茶馆</string>
			<string>小吃</string>
			<string>比萨</string>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>酒店</string>
		<key>subcategories</key>
		<array>
			<string>豪华酒店</string>
			<string>经济型酒店</string>
			<string>客栈/青旅/民宿</string>
			<string>主题精品酒店</string>
			<string>公寓式酒店</string>
			<string>度假酒店</string>
			<string>亲子酒店</string>
			<string>温泉酒店</string>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>休闲娱乐</string>
		<key>subcategories</key>
		<array>
			<string>KTV</string>
			<string>洗浴/汗蒸</string>
			<string>足疗按摩</string>
			<string>密室逃脱</string>
			<string>酒吧</string>
			<string>桌游</string>
			<string>DIY手工坊</string>
			<string>真人CS</string>
			<string>采摘/农家乐</string>
			<string>私人影院</string>
			<string>更多休闲娱乐</string>
			<string>轰趴馆</string>
			<string>VR</string>
			<string>茶馆</string>
			<string>文化艺术</string>
			<string>网吧网咖</string>
			<string>游戏厅</string>
			<string>棋牌室</string>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>生活服务</string>
		<key>subcategories</key>
		<array>
			<string>婚纱摄影</string>
			<string>儿童摄影</string>
			<string>个性写真</string>
			<string>母婴亲子</string>
			<string>体检保健</string>
			<string>汽车服务</string>
			<string>照片冲印</string>
			<string>培训课程</string>
			<string>鲜花婚庆</string>
			<string>配眼镜</string>
			<string>商场购物卡</string>
			<string>服装洗护</string>
			<string>宠物服务</string>
			<string>家政服务</string>
			<string>送水站</string>
			<string>搬家</string>
			<string>管道疏通</string>
			<string>开锁</string>
			<string>维修</string>
			<string>洗涤护理</string>
			<string>房屋地产</string>
			<string>回收</string>
			<string>律师服务</string>
			<string>翻译服务</string>
			<string>咨询服务</string>
			<string>财务服务</string>
			<string>人才服务</string>
			<string>送水</string>
			<string>送奶</string>
			<string>成人用品</string>
			<string>丧葬</string>
			<string>文印图文</string>
			<string>养老院</string>
			<string>迷你自助仓库</string>
			<string>联合办公空间</string>
			<string>除甲醛</string>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>丽人</string>
		<key>subcategories</key>
		<array>
			<string>美发</string>
			<string>美甲美睫</string>
			<string>美容／SPA</string>
			<string>瑜珈／舞蹈</string>
			<string>瘦身纤体</string>
			<string>祛痘</string>
			<string>纹身</string>
			<string>脱毛</string>
			<string>韩式定妆</string>
			<string>医学美容</string>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>旅游</string>
		<key>subcategories</key>
		<array>
			<string>门票</string>
			<string>周边游</string>
			<string>国内游</string>
			<string>出境游</string>
			<string>单景点门票</string>
			<string>多景点联票</string>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>购物</string>
		<key>subcategories</key>
		<array>
			<string>服饰鞋包</string>
			<string>生活家居</string>
			<string>食品饮料</string>
			<string>母婴亲子</string>
			<string>化妆护肤</string>
			<string>数码家电</string>
			<string>钟表眼镜</string>
			<string>影音书刊</string>
			<string>水果生鲜</string>
			<string>珠宝饰品</string>
			<string>运动户外</string>
			<string>商场购物券</string>
			<string>品牌购物券</string>
			<string>海外站购物</string>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>电影</string>
		<key>subcategories</key>
		<array>
			<string>院线影院</string>
			<string>私人影院</string>
			<string>电影小食</string>
			<string>4D/5D电影</string>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>结婚</string>
		<key>subcategories</key>
		<array>
			<string>婚纱摄影</string>
			<string>旅游婚纱照</string>
			<string>婚纱礼服</string>
			<string>成衣定制</string>
			<string>婚庆公司</string>
			<string>婚戒首饰</string>
			<string>婚礼小商品</string>
			<string>婚车租赁</string>
			<string>彩妆造型</string>
			<string>司仪主持</string>
			<string>婚礼跟拍</string>
			<string>婚宴</string>
			<string>个性写真</string>
			<string>婚房装修</string>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>亲子</string>
		<key>subcategories</key>
		<array>
			<string>DIY手工</string>
			<string>孕妇写真</string>
			<string>孕产护理</string>
			<string>亲子购物</string>
			<string>亲子游乐</string>
			<string>幼儿教育</string>
			<string>亲子摄影</string>
			<string>更多亲子服务</string>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>家装</string>
		<key>subcategories</key>
		<array>
			<string>家具建材</string>
			<string>装修设计</string>
			<string>建材</string>
			<string>家具家居</string>
			<string>家装卖场</string>
			<string>厨房卫浴</string>
			<string>家用电器</string>
			<string>家居家纺</string>
			<string>全屋/橱柜定制</string>
			<string>灯饰照明</string>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>教育</string>
		<key>subcategories</key>
		<array>
			<string>外语</string>
			<string>音乐</string>
			<string>美术</string>
			<string>升学辅导​</string>
			<string>职业技术</string>
			<string>兴趣生活</string>
			<string>体育</string>
			<string>教育院校</string>
			<string>​更多教育培训​</string>
			<string>留学</string>
			<string>驾校</string>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>爱车</string>
		<key>subcategories</key>
		<array>
			<string>洗车</string>
			<string>打蜡</string>
			<string>保养</string>
			<string>维修</string>
			<string>贴膜</string>
			<string>配件/车饰</string>
			<string>租车</string>
			<string>内饰清洁</string>
			<string>陪驾</string>
			<string>检测</string>
			<string>镀晶</string>
			<string>购车</string>
			<string>改装</string>
			<string>加油站</string>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>精品购</string>
		<key>subcategories</key>
		<array>
			<string>水果</string>
			<string>酒</string>
			<string>地方特色</string>
			<string>糖果巧克力</string>
			<string>膨化零食</string>
			<string>饼干糕点</string>
			<string>蜜饯果脯</string>
			<string>冲饮/咖啡/茶</string>
			<string>饮料</string>
			<string>乳制品</string>
			<string>坚果</string>
			<string>肉干肉脯</string>
			<string>海味即食</string>
			<string>方便速食</string>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>运动健身</string>
		<key>subcategories</key>
		<array>
			<string>健身</string>
			<string>游泳</string>
			<string>羽毛球</string>
			<string>篮球</string>
			<string>网球</string>
			<string>高尔夫</string>
			<string>保龄球</string>
			<string>桌球</string>
			<string>足球</string>
			<string>乒乓球</string>
			<string>武术</string>
			<string>马术</string>
			<string>溜冰</string>
			<string>壁球</string>
			<string>射箭</string>
			<string>空手道</string>
			<string>攀岩</string>
			<string>跆拳道</string>
			<string>射箭</string>
			<string>更多运动健身</string>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>宴会</string>
		<key>subcategories</key>
		<array>
			<string>婚宴</string>
			<string>宝宝/生日/商务</string>
			<string>会议</string>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>医疗</string>
		<key>subcategories</key>
		<array>
			<string>体检保健</string>
			<string>齿科</string>
			<string>男科</string>
			<string>妇科</string>
			<string>眼科</string>
			<string>皮肤科</string>
			<string>肛肠科</string>
			<string>检查</string>
			<string>日用品</string>
			<string>保健品</string>
			<string>中医</string>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>宠物</string>
		<key>subcategories</key>
		<array>
			<string>宠物店</string>
			<string>宠物医院</string>
		</array>
	</dict>
</array>
</plist>
